# Xcode
.DS_Store
*/build/
*/DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
xcuserdata/
*.xccheckout
*.swp
*.xcuserstate

# CocoaPods
Pods/
Podfile.lock

# Carthage
/Carthage/Build/

# Swift Package Manager
.build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# App icons
*.appiconset/*.png
*.appiconset/*.pdf
*.appiconset/*.jpg
*.appiconset/*.jpeg

# Provisioning profiles
*.mobileprovision
.DS_Store
