<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463734496014-6e2l367r4bjnob7gtg18rbaj2hakr5ga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463734496014-6e2l367r4bjnob7gtg18rbaj2hakr5ga</string>
	<key>API_KEY</key>
	<string>AIzaSyCxYqX63mUXbWsbabqtF3ykqZz93sZ-peo</string>
	<key>GCM_SENDER_ID</key>
	<string>463734496014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.IHSAproject-iosteam</string>
	<key>PROJECT_ID</key>
	<string>ihsainc</string>
	<key>STORAGE_BUCKET</key>
	<string>ihsainc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463734496014:ios:2ec8f9cb4915bab2c6955f</string>
</dict>
</plist>